{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'page.css' %}">
</head>
<body>
    <h1 >HELLO!<br>
        WELLCOME TO STAFF PAGE</h1>
        <div>
    <button><a href="{% url 'staff_v'%}">profile</a></button>
    <button style="margin-right: 200px;"><a href="{% url 'stud_del'%}">student details</a></button>
    </div>
</body>
</html>